body {
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	-moz-box-shadow: 0px 0px 16px #000000;
	-webkit-box-shadow: 0px 0px 16px #000000;
	box-shadow: 0px 0px 16px #000000;
}
h1 {
	font-size:1.8em; padding:.35em; text-align:center; color:rgb(229,233,237);
	background: rgb(86,106,122);
	padding:.2em;
}
article { border-bottom:1px dotted #CCC; border-top:1px dotted #FFF; }
article h2 { 
	cursor:pointer;
	padding:.8em .7em; font-size:1.1em; background-color:rgb(192,202,210); 
	-webkit-transition:background-color 0.2s linear;
	-moz-transition:background-color 0.2s linear;
	-o-transition:background-color 0.2s linear;
}
article.selected h2 { background-color:rgb(213,207,195);}
article p {
	max-height:0; 
	overflow:hidden; 
	padding:0 .7em; 
	margin:0; 
	font-size:1em; 
	-webkit-transition:All 0.4s ease-out;
	-moz-transition:All 0.4s ease-out;
	-o-transition:All 0.4s ease-out;
	-webkit-transform: skew(1deg) translate(20px);
	-moz-transform: skew(1deg) translate(20px);
	-o-transform: skew(1deg) translate(20px);
}
article p .actions { float: right; width:30px; margin-left:.6em;}
article p .actions img { display:block; width:20px; height:20px; cursor:pointer; margin:.6em 0; }
article p .time { display:block; font-size:.8em; color:#968F92; margin-top: .6em; }
#entry-form {visibility: visible; margin-left: 5px; margin-right: 5px;}
.edit-form { background-color: rgb(234,232,226);max-height:20em; margin:0.5em 2.5em 0.5em 0.2em; padding:0.5em; }
article.selected p { background-color: rgb(234,232,226);max-height:20em; margin:0.5em 2.5em 0.5em 0.2em; padding:0.5em; }
#warning {visibility: visible; height: auto; width: auto; color: red;}
#warning.hidden, #entry-form.hidden {visibility: hidden; height: 0em; width: 0em;}
.icon {width: 1em; height: 1em; cursor: pointer;}
#entry-title { width: 99%;}
#entry-content{ width: 99%;}
#icon-connection-lost {visibility: visible; height: 0.7em; padding-top: 8px; }